<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="SimpleMapprTestBootstrap.php"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         failOnWarning="true"
         failOnRisky="true">
  <php>
    <server name="HTTP_HOST" value="www.simplemappr.test"/>
    <server name="REMOTE_ADDR" value="000.000.000"/>
    <env name="BROWSER" value="chrome"/>
    <env name="ENVIRONMENT" value="testing"/>
  </php>
  <testsuites>
    <testsuite name="Unit">
      <directory>./unit</directory>
    </testsuite>
    <testsuite name="Binary">
      <directory>./binary</directory>
    </testsuite>
    <testsuite name="Router">
      <directory>./router</directory>
    </testsuite>
    <testsuite name="Functional">
      <directory>./functional</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <include>
      <directory suffix=".php">../src</directory>
    </include>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
    </report>
  </coverage>
</phpunit>
